.header {
  margin-bottom: 24px;
}
.topper {
  padding: 10px 0;
  background: #ebf2f9;
}
.container,
.group {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  h1 {
    margin: 0 0 0 24px;
    font-size: 16px;
  }
}
.group {
  margin-left: auto;
}
.btn {
  margin-left: 10px;
  padding: 10px;
  font-size: 0;
  svg {
    opacity: 0.7;
    font-size: 24px;
    color: #0e69af;
  }
}
.nav {
  padding-top: 4px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.08);
  border-bottom: 4px solid #bed9f5;
}
.list {
  display: flex;
  margin: 0 -16px;
}
.link {
  padding: 16px;
  font-weight: 700;
}
.active {
  background: #bed9f5;
}
.disabled {
  pointer-events: none;
}
