.head {
  display: flex;
  margin-bottom: 24px;
  align-items: center;
}
.title {
  margin: 0 16px 0 0;
}
.nav {
  display: flex;
  margin-right: auto;
}
.button {
  margin-right: -1px;
  padding: 12px 24px;
  background: white;
  box-shadow: inset 0 0 0 1px #ecf0f3;
  font-size: 14px;
  font-weight: 600;
  color: #0e69af;
  &:first-child {
    border-radius: 4px 0 0 4px;
  }
  &:last-child {
    border-radius: 0 4px 4px 0;
  }
  &.active {
    background: #0e69af;
    box-shadow: none;
    color: white;
  }
}
.flex {
  display: flex;
  margin: 0 -16px;
}
.sidebar,
.content {
  padding: 0 16px;
}
.content {
  flex: 1 1 auto;
}