// layout
.el-container
  width: 1192px
  max-width: 1192px


// box model
.flex
  display: flex

.justify-space-between
  justify: space-between

.align-center
  align-items: center

.width-100
  width: 100%
