// layout
.el-container
  width: 1192px
  max-width: 1192px
  min-width: 1192px

.el-form-item__label 
  height: 30px



// box model
.flex
  display: flex

.flex-column
  flex-direction: column

.flex-wrap
  flex-wrap: wrap

.justify-space-between
  justify-content: space-between

.justify-center
  justify-content: center
.justify-start
  justify-content: flex-start

.align-center
  align-items: center
.align-start
  align-items: flex-start

.width-100
  width: 100%

.el-button
  .svg-inline--fa
    margin-right: 10px

.fixed
  position: fixed

.o-hidden
  overflow: hidden

// margin

.mb-10
  margin-bottom: 10px

.mb-20
  margin-bottom: 20px

.mb-30
  margin-bottom: 30px


@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) 
  ::-webkit-scrollbar 
      position: fixed
      width:  $size
      height: $size

  ::-webkit-scrollbar-thumb 
      background: $foreground-color

  ::-webkit-scrollbar-track 
      background: $background-color

  // For Internet Explorer
  body 
    scrollbar-face-color: $foreground-color
    scrollbar-track-color: $background-color
  

@include scrollbars(.5em, slategray)
