// layout
.el-container
  width: 1192px
  max-width: 1192px
  min-width: 1192px


// box model
.flex
  display: flex

.flex-wrap
  flex-wrap: wrap

.justify-space-between
  justify-content: space-between

.justify-center
  justify-content: center

.align-center
  align-items: center

.width-100
  width: 100%

.el-button
  .svg-inline--fa
    margin-right: 10px

.fixed
  position: fixed

.o-hidden
  overflow: hidden


