.filter {
  display: flex;
  padding: 16px 24px 20px;
  border-radius: 4px 4px 0 0;
  background: white;
  align-items: flex-start;
}
.head {
  display: flex;
  align-items: center;
}
.title {
  margin: 0 0 0 12px;
}
.center {
  padding: 0 58px 0 24px;
  flex: 1 1 auto;
}
.row {
  display: flex;
  margin: 0 -8px -16px;
  flex-wrap: wrap;
}
.cell {
  margin-bottom: 16px;
  padding: 0 8px;
  flex: 0 0 25%;
}
.actions {
  display: flex;
  min-width: 130px;
  flex-direction: column;
}
.button {
  margin-top: 24px;
}