[class^="icon-"] {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon {
  &-user {
    width: 350/268 + em;
  }
}

.icon-building {
  width: 18/21 + em;
}
.icon-sheme {
  width: 25/21 + em;
}
.icon-user-settings {
  width: 25/21 + em;
}
.icon-notification {
  width: 16/20 + em;
}
.icon-attach {
  width: 8/16 + em;
}
.icon-back {
  width: 16/18 + em;
}
.icon-calc {
  width: 12/16 + em;
}
.icon-date {
  width: 14/16 + em;
}
.icon-doc {
  width: 13/16 + em;
}
.icon-export {
  width: 14/19 + em;
}
.icon-filter {
  width: 18/12 + em;
}
.icon-plus {
  width: 14/14 + em;
}
.icon-print {
  width: 20/18 + em;
}
.icon-remove {
  width: 14/15 + em;
}
.icon-search {
  width: 22/20 + em;
}
.icon-settings {
  width: 22/20 + em;
}
.icon-tick {
  width: 13/10 + em;
}
.icon-more {
  width: 4/17 + em;
}