.label {
  margin-bottom: 6px;
}
.content {
  position: relative;
  & > svg {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 16px;
    fill: #ccc;
    pointer-events: none;
  }
}
.message,
.error {
  margin-top: 4px;
  font-size: 10px;
  color: #888;
}
.error {
  color: #ff6633;
}
.inline {
  display: flex;
  align-items: center;
  .label {
    margin: 0 16px 0 0;
    flex: 0 0 128px;
  }
  .body {
    flex: 0 0 calc(100% - 144px);
  }
}
