.label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  user-select: none;
  cursor: pointer;
}
.input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.input:checked + .content {
  &:before {
    border-width: 6px;
  }
}
.input:disabled + .content {
  &:before {
    border-color: #E2E2E2;
  }
}
.content {
  display: block;
  font-size: 14px;
  &:before {
    content: "";
    position: absolute;
    top: 1px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #2273b2;
  }
}

