.toolbar {
  display: flex;
}
.button {
  &:not(:first-child) {
    margin-left: 16px;
  }
}
.body {
  max-width: 680px;
}
.row {
  display: flex;
  margin: 0 -8px;
  align-items: center;
  &:last-child {
    padding-left: 76px;
  }
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
.col {
  padding: 0 8px;
  &:first-child {
    min-width: 76px;
  }
  &:not(:first-child) {
    flex: 1 1 auto;
  }
}
.footer {
  display: flex;
  max-width: 680px;
  justify-content: flex-end;
  .button {
    min-width: 130px;
  }
}
