.row {
  display: flex;
}
.col {
  &:first-child {
    flex: 1 1 auto;
  }
}
.col:last-child .button {
  border-radius: 0 4px 4px 0;
}
.input {
  position: relative;
  border-radius: 4px 0 0 4px!important;
  z-index: 2;
}
.button {
  width: 32px;
  height: 32px;
  margin-left: -1px;
  padding: 0;
  border: 1px solid #ccc;
  font-size: 0;
  svg {
    font-size: 16px;
    fill: #0E69AF;
  }
}
.menu {
  svg {
    transform: rotate(90deg);
  }
}