.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.building {
  width: 18/21 + em;
}
.sheme {
  width: 25/21 + em;
}
.user-settings {
  width: 25/21 + em;
}
.notification {
  width: 16/20 + em;
}
.attach {
  width: 8/16 + em;
}
.back {
  width: 16/18 + em;
}
.calc {
  width: 12/16 + em;
}
.date {
  width: 14/16 + em;
}
.doc {
  width: 13/16 + em;
}
.export {
  width: 14/19 + em;
}
.filter {
  width: 18/12 + em;
}
.plus {
  width: 14/14 + em;
}
.print {
  width: 20/18 + em;
}
.remove {
  width: 14/15 + em;
}
.search {
  width: 22/20 + em;
}
.settings {
  width: 22/20 + em;
}
.tick {
  width: 13/10 + em;
}
.more {
  width: 4/17 + em;
}